h3{
    color:white;
}
.titillium{
    font-family: 'Titillium Web', sans-serif;
}
.hide{
    display:none;
} 
#section_intro_1{
    min-height:500px;
} 
@media (max-width: 1200px) {
    #right-hero{
        opacity:50%;
    }
}
